@forward 'base';
@use 'utils';

html {
  scroll-behavior: smooth;
  font-smooth: always;
  -webkit-font-smoothing: anti-aliased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: utils.$blue;
  font-weight: 400;
  font-family: utils.$font-sans-serif;
  height: 100%;
  width: 100%;
}
