@use './mixins';
@use './variables';

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include mixins.breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include mixins.breakpoint-up(large) {
    display: none;
  }
}

.button {
  text-align: center;
  border-radius: 4px;
  border: 1px solid variables.$green;
  color: variables.$green;
  cursor: pointer;
  padding: 0.625rem 1rem;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}
