@use '@styles/utils';

.card {
  align-items: center;
  background-color: utils.$blue;
  border-radius: 17px;
  box-shadow: -5px -5px 14px #000a18, 5px 5px 14px #001c42;
  color: utils.$grey;
  cursor: pointer;
  flex-wrap: wrap;
  flex: 2 1 70%;
  margin: 20px 0;
  opacity: 0;
  padding: 2rem 2.5rem;
  row-gap: 10px;
  transform: translateX(250px);
  will-change: transform;

  &:hover {
    transform: scale(1.05);

    > .card__icon,
    .card__links--icon-open {
      filter: utils.$green-filter;
      transition: filter 0.22s ease 0.13s;
    }
  }

  &__text {
    flex-basis: 80%;

    @include utils.breakpoint-down(medium) {
      flex: 100%;
    }

    &--title {
      font-weight: 600;
      margin-top: 0.5rem;
    }

    &--description {
      font-size: 0.875rem;
      margin-top: 0.5rem;
      // font-weight: 500;
      opacity: 90%;
    }

    &--tech {
      font-size: 0.625rem;
      font-weight: 700;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: utils.$green;
    }
  }

  //website icon
  &__icon {
    width: 48px;
    filter: utils.$green-filter;
  }

  &__links {
    &--icon {
      margin: 8px 8px 0 0;
      width: 20px;
      filter: utils.$grey-filter;

      @include utils.breakpoint-down(medium) {
        width: 26px;

        &:visited {
          filter: utils.$green-filter;
        }
      }

      &-github {
        will-change: transform;

        &:hover {
          filter: utils.$green-filter;
          transform: scale3D(1.05, 1.05, 1.05);
          transition: all 0.22s ease-out;
        }
      }
    }
  }

  &__button {
    flex-basis: 30%;
    color: utils.$grey;
    border-color: utils.$grey;

    //button icon
    &--icon {
      width: 18px;
      margin-left: 0.5rem;
    }
  }
}
