@use '@styles/utils';

.hero {
  color: utils.$grey;
  height: calc(100vh - 180px);
  line-height: 1.5;
  margin-left: 8rem;
  margin-top: 5rem;
  padding: 0 8rem 0 4rem;
  position: relative;
  width: 85%;

  @include utils.breakpoint-down(medium) {
    margin: 0;
    padding: 0 2rem;
    position: relative;
    top: 7rem;
    height: 100vh;
    width: 100%;
  }

  & > h4 {
    color: utils.$green;
    font-size: clamp(16px, 1.4vw, 22px);
    font-weight: 400;
    margin-bottom: 10px;
  }

  // name
  & > h1 {
    color: utils.$grey;
    font-family: utils.$font-serif;
    font-size: clamp(42px, 6vw, 70px);
    margin-bottom: 10px;
  }

  // description
  & > p {
    opacity: 85%;
    font-size: clamp(14px, 16px, 18px);
    max-width: 540px;
    margin-top: 10px;

    & > span {
      color: utils.$green;
      font-weight: 500;
    }
  }

  // hero resume button
  &__button {
    margin-top: 20px;
    max-width: 192px;
    position: relative;
    perspective: 1000px;
    backface-visibility: hidden;
    z-index: 1;
    transition: color 0s;
    transition-delay: 0.35s;

    &:before {
      content: '';
      background: utils.$green;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: left top;
      transform: scaleX(0);
      transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      z-index: -1;
      will-change: transform;
    }

    &:hover {
      color: utils.$blue;
      transition: color 0.15s ease 0.1s;

      // > .hero__button__icon {
      //   animation: bounce-up 0.7s ease 0.22s infinite;
      //   color: utils.$blue;
      //   transition: color 0.22s ease 0.13s;
      // }

      &:before {
        transform: scaleX(1);
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
      }
    }

    &__icon {
      margin-left: 0.5rem;
      width: 18px;
    }
  }
}

.scroll-icon {
  width: 30px;
  height: 30px;
  color: utils.$grey;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transform: translate3D(0, 0, 0);
  animation: bounce-up 0.7s ease 0.22s infinite;
}

.blur {
  filter: blur(8px);
  transition: all 0.22s ease-out;
}

@keyframes bounce-left-right {
  0% {
    transform: translate3D(0, 0, 0);
  }
  50% {
    transform: translate3D(3px, 0, 0);
  }
  100% {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes bounce-up {
  0% {
    transform: translate3D(0, 0, 0);
  }
  50% {
    transform: translate3D(0, -5px, 0);
  }
  100% {
    transform: translate3D(0, 0, 0);
  }
}
