@use '@styles/utils';

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-fd-c {
    flex-direction: column;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  padding: 0 5rem;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: utils.$radius;
  border: 1px solid utils.$green;
  color: utils.$green;
  cursor: pointer;
  padding: 0.625rem 1rem;
  position: relative;
  text-decoration: none;
  font-weight: 500;
}

.hide-for-mobile {
  @include utils.breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include utils.breakpoint-up(large) {
    display: none;
  }
}
