@use '@styles/utils';

.blur {
  filter: blur(8px);
  transition: all 0.22s ease-out;
}

.container {
  padding: 0 5rem;
}

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-fd-c {
    flex-direction: column;
  }

  &-ai-c {
    align-items: center;
  }
}

.hide-for-mobile {
  @include utils.breakpoint-down(medium) {
    display: none;
  }
}
.hide-for-desktop {
  @include utils.breakpoint-up(large) {
    display: none;
  }
}
