@use '@styles/utils';

.social {
  bottom: 0;
  margin-left: 6px;
  position: fixed;
  row-gap: 24px;
  z-index: 10;

  &__icon {
    cursor: pointer;
    filter: utils.$grey-filter;
    height: 26px;
    opacity: 0.7;
    width: 26px;

    &:hover {
      filter: utils.$green-filter;
      transform: translateY(-4px);
      transition: transform 0.22s;
    }

    &--linkedin {
      height: 24px;
      width: 24px;
    }
  }

  &__line {
    background-color: utils.$grey;
    height: 120px;
    opacity: 0.7;
    width: 2px;
  }
}
